<button
    class="chat-item"
    [class.active]="active()"
    (click)="select.emit(chat())">
    <span class="avatar" [style.background-color]="avatarColor()">
        {{ chat().name | initial }}
    </span>
    <span class="chat-meta">
        <span class="chat-name">{{ chat().name }}</span>
            <span class="chat-sub">
                @if (showLock()) {
                    <mat-icon class="inline-icon">lock</mat-icon>
                } @else if (lastMessage()) {
                        <span class="chat-last-sender">{{ lastMessage()?.user.username ?? '' | lastSender }}</span>
                        <span class="chat-last-message"> {{ lastMessage()?.content ?? 'No messages yet' }}</span>
                } 
            </span>
    </span>
</button>